.container-message {
    border:2px solid #ccc;
    border-radius : 5px;
    padding : 10px;
    margin-bottom: 10px;
}

.message {
    border : 2px solid black;
    border-radius : 5px;
    padding : 10px;
    margin-bottom: 5px 0;
}

.message-r{
    border : 2px solid green;
    text-align: right;
}